<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Pinch-Zoom und Bauen/Zielen brauchen Multitouch -->
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="true"
        tools:ignore="UnnecessaryRequiredFeature" />

    <application
        android:name=".BollwerkApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bollwerk">
        <!-- Nur Querformat (beide Richtungen per Sensor); Konfigurationswechsel behandelt die Activity
             selbst, damit Sim- und Render-Thread bei Drehung/Größenänderung nicht neu starten. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            tools:ignore="DiscouragedApi"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|density|uiMode"
            android:theme="@style/Theme.Bollwerk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
